// COLORS
$color-primary: #F49405;

// Text Colors
$color-text-dark: #222831;   // very dark text (e.g. headings)
$color-text-medium: #444C54; // less dark (paragraphs)
$color-text-light: #F2F2F2;  // lighter text (labels, hints)

$bg-white: #FFFFFF;
$bg-light: #F8F8F8;
$bg-lighter: #F2F2F2;

// Borders
$border-thin-light: #EEEEEE;
$border-thin-dark: rgba(0, 0, 0, 0.1); // thin dark border

// Overlay
$overlay-bg: rgba(0, 0, 0, 0.03);

// FONT
$font-base: 'Inter', sans-serif;

