@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.app-layout {
  display: flex;
  

  .main-content {
    padding-top: 100px;
    flex-grow: 1;
    overflow-y: auto;

    min-height: 100vh;
    transition: margin-left 0.3s ease;

    @include mobile-tablet {
      margin-left: 0;
      padding-top: 50px;
    }

    @include desktop {
      margin-left: 250px;
    }
  }

  
  .backdrop-overlay {
    @include mobile-tablet {
      display: block;
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 50; 
    }
  }
  
  
}

