@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: $bg-lighter;
  padding-top: 74px;
  z-index: 900;
  overflow-y: auto;
  border-right: 1px solid $border-thin-light;
  transition: transform 0.3s ease-in-out;

  .close-sidebar {
    display: none;
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: $color-text-dark;
    cursor: pointer;
    z-index: 1001;

    @include mobile-tablet {
      display: block;
    }

    &:hover {
      color: $color-primary;
    }
  }

  .menu {
    width: 90%;
    margin: 2.5rem auto 2rem auto;
    position: relative;

    .menu-item {
      margin-top: 1rem;

      .menu-link,
      .menu-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1rem;
        font-size: 0.95rem;
        font-weight: 700;
        color: $color-text-medium;
        cursor: pointer;
        text-decoration: none;
        border-radius: 0.5rem;

        &:hover {
          background-color: $overlay-bg;
        }

        &.active {
          background-color: $bg-white;
          font-weight: 600;
        }

        .left {
          display: flex;
          align-items: center;
          gap: 0.75rem;
        }

        .icon {
          font-size: 1rem;
          color: $color-text-medium;
        }

        .label {
          font-size: 0.95rem;
        }

        .arrow {
          font-size: 0.75rem;
          color: $color-text-medium;
        }
      }

      .sub-menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        &.open {
          max-height: 500px;
        }

        .sub-item {
          display: block;
          padding: 0.65rem 2.5rem;
          font-size: 0.9rem;
          color: $color-text-medium;
          text-decoration: none;
          font-weight: 700;
          border-radius: 0.5rem;

          &:hover {
            background-color: $overlay-bg;
          }

          &.active {
            background-color: $bg-white;
            font-weight: 800;
            color: $color-primary;
          }
        }
      }
    }
  }

  @include mobile-tablet {
    transform: translateX(-100%);
    &.active {
      transform: translateX(0);
    }
  }
}
